@inherits Custom.Hybrid.Razor12
@* This inherits statement gets you features like App, CmsContext, Data etc. - you can delete this comment *@
@using ToSic.Sxc.Services;
@{
  // Use beta csp service
  var csp = GetService<ICspService>();
  // future api, by far not ready...
  // var policy = csp.Build(defaultSrc: "self");
  csp.AddPolicy("default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'");
}


<div @Edit.TagToolbar(Content)>
  <h1>Enable CSP</h1>
  <p>
    This should enable CSP and probably break a lot on the page
  </p>
</div>